#  Env for service: dev | stg | prd
APP_ENV=dev

# Log level: debug | info | warn | error (depend on APP_ENV or setup mannual)
# LOG_LEVEL=debug

#Database driver (postgres, sqlite) - Default postgres
DB_DRIVER=postgres

#Database dsn
DB_DSN="host=localhost user=postgres password=123456 dbname=imp_db port=5432 sslmode=disable"

# maximum number of open connections to the database - Default 30
DB_MAX_CONN=30

# maximum amount of time a connection may be idle in seconds - Default 3600
DB_MAX_CONN_IDLE_TIME=3600

# maximum number of database connections in the idle - Default 10
DB_MAX_IDLE_CONN=10

# gin server (debug | release). Default debug
GIN_MODE=debug

# gin server port. Default 3000
GIN_PORT=3000

STAFF_API_KEY=

MANAGER_API_KEY=